@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
  --color-val1: 49243E;
  --color-val2: 704260;
  --color-val3: BB8493;
  --color-val4: DBAFA0;
  --background: #ffffff;
  --foreground: #171710;
}

@theme {
  --color-val1: var(color-val1);
  --color-val2: var(color-val2);
  --color-val3: var(color-val3);
  --color-val4: var(color-val4);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* --tab-size-2: 2;
  --tab-size-4: 4;
  --tab-size-github: 8; */
}

/* =========================  
   Modern CSS Reset
   ========================= */
/* 1. Box sizing */

*,
*::before,
*::after
{
  box-sizing: border-box;
}

/* 2. Remove default margin */
*
{
  margin: 0;
}

body
{
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* 4. Media elements behave */
img,
picture,
video,
canvas,
svg
{
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography */
input,
button,
textarea,
select
{
  font: inherit;
}

/* 6. Remove default button styling */
button
{
  cursor: pointer;
}

/* 7. Remove list styles */
ul,
ol
{
  list-style: none;
}

/* 8. Anchor reset */
a
{
  text-decoration: none;
}

/* 9. Headings don’t override font size */
/*
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}
  */

/* 10. Prevent textarea resize from breaking layouts */
textarea
{
  resize: vertical;
}

:root
{
  --color-val1: #49243E;
  --color-val2: #704264;
  --color-val3: #BB8493;
  --color-val4: #DBAFA0;
  --background: #ffffff;
  --foreground: #171717;
}

@theme
{
  --font-roboto: "Roboto", sans-serif;
  --color-val1: var(--color-val1);
  --color-val2: var(--color-val2);
  --color-val3: var(--color-val3);
  --color-val4: var(--color-val4);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
